<h1>#MetaHash Price Checker</h1>

<%= form_for @mhc, url: root_path, method: :GET do %>
    <%= label_tag(:mhc_action, "I want to") %>
    <%= select("mhc", "action", [:buy, :sell]) %>
    <%= number_field(:mhc, :volume, step: 1000) %>
    <%= label_tag(:mhc_for_currency, "MHC for") %>
    <%= select("mhc", "for_currency", [:BTC, :USDT, :RUB, :ETH]) %>

    <%= submit_tag("Check") %>
<% end %>
